#!/bin/bash
# 1. Dépendances et optimisations (Inotify pour Jellyfin est crucial, bien vu)
apt-get update && apt-get install -y curl fuse3 open-iscsi nfs-common
echo "fs.inotify.max_user_instances=524288" >> /etc/sysctl.d/99-kubernetes.conf
sysctl -p /etc/sysctl.d/99-kubernetes.conf

# 2. Préparation du dossier d'auto-déploiement
# K3s applique tout ce qui se trouve ici par ordre alphabétique
mkdir -p /var/lib/rancher/k3s/server/manifests/

# 3. Injection du Secret RealDebrid
cat <<EOF > /var/lib/rancher/k3s/server/manifests/00-streaming-secret.yaml
${rd_secret_manifest}
EOF

# 4. Injection des manifests via Terraform
cat <<EOF > /var/lib/rancher/k3s/server/manifests/01-argocd-helm.yaml
${argocd_manifest}
EOF

cat <<EOF > /var/lib/rancher/k3s/server/manifests/02-argocd-repo-secret.yaml
${argocd_repo_secret}
EOF

cat <<EOF > /var/lib/rancher/k3s/server/manifests/03-argocd-root-app.yaml
${argocd_root_app}
EOF

# 4. Installation K3s
PUBLIC_IP=$(curl -s http://169.254.169.254/hetzner/v1/metadata/public-ipv4)
curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
  --tls-san $PUBLIC_IP \
  --write-kubeconfig-mode 644 \
  --disable traefik \
  --disable servicelb" sh -s -