apiVersion: v1
kind: Secret
metadata:
  name: homelab-gitops-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: ${git_repo_url}
  password: ${git_token}
  username: homelab-k3s